@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');
@import url('https://fonts.googleapis.com/css2?family=Kimjungchul+Script&display=swap');

body {
    font-family: 'SUIT', sans-serif;
    background-color: #121212;
    margin: 0;
    padding: 0;
}
